<ion-header [ngClass]="{'hidden' : isTokenScreen}">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <form *ngIf="isAddingToken">
      <ion-searchbar placeholder="" name="" id="page1-search1"></ion-searchbar>
    </form>
    <ion-buttons start (click)='closeTokenView($event, userToken)'>
      <button ion-button icon-only>
        <ion-icon name="ion-close"> • </ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)='isAddingToken = !isAddingToken' style="width: 20px; margin-left: 20px;">
        <ion-icon *ngIf="!isAddingToken">+</ion-icon>
        <ion-icon *ngIf="isAddingToken">ok</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div id="main-container" ngClass="{'hidden' : isTokenScreen}" *ngIf="selectedToken == null">
    <div *ngFor="let userToken of userTokens" (click)="chooseToken($event, userToken)" style="padding: 12px; padding-bottom: 0; transition: 1s ease;">
        <div class="tile" [ngClass]="{'open' : selectedToken == userToken}">
          <ion-icon class="close" name="close" item-left (click)="closeTokenView($event, userToken)"></ion-icon>
          <div class='left-of-card'>
            <ion-avatar item-left>
            <img class="icon" src="{{ userToken.logo }}">
            {{userToken.name}}
            {{userToken.tokenName}}
            </ion-avatar>
          </div>
          <div style="flex-grow: 1; width: 100%;"></div>
          <div class="right-of-card" item-end>
            {{userToken.marketData.Last}}
          </div>
    </div>
  </div>
</div>

  <div id="search-container" *ngIf="isAddingToken">
    <div *ngFor="let token of tokens">
      <ion-list color="none" ion-item (click)="addToken(token)" style="margin-bottom: 1px;">
        <img class="icon" src="{{ token.logo }}">
        {{token.tokenName}}
        {{token.inPortfolio}}
        <ion-icon name="add" color="white" item-right *ngIf="!token.inPortfolio"></ion-icon>
      </ion-list>
    </div>
  </div>

  <div id="token-screen" *ngIf="selectedToken != null" padding>
      <ion-card color="none">
        <img class="icon" src="{{ selectedToken.logo }}">
        {{selectedToken.tokenName}}
        {{selectedToken.inPortfolio}}
        <div class="item-note" item-end>
          {{selectedToken.balance}}
        </div>

        <div class="tools">
          <ion-icon name="trash" item-right (click)="removeToken(token)"></ion-icon>
        </div>

      </ion-card>
  </div>


</ion-content>
